@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

header {
    font-family: 'Lato', sans-serif;
    flex-direction: column;
    justify-content: center;

}

h1 {  
    display: block;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(168, 164, 164, 0.5);
    color: green;
    font-size: 45px;
    padding-left: 22%;
}

body {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background-color: rgba(209, 200, 200, 0.4);
}

/*navigation links*/

nav {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
    background-color: darkgreen;

}

nav ul {
    display: flex;
    width: auto;
    justify-content: space-evenly;
    color: darkgreen;
}



ul li {
    list-style-type: none;
}


nav a {
    display: flex;
    font-family: monospace;
    color: whitesmoke;
    font-size: 25px;
    text-decoration: none;
}

nav a:hover {
    background-color: darkgreen;
    color: orangered;
    cursor: pointer;
    transition: .5s;
}

/*header image*/

.center-image-right img{
    width: 75%;
    height: auto;
}

.center-image-right {
    width: auto;
    background: transparent;
    margin: 10%;
}


.about-us-section {
    width: 100%;
    height: auto;
    margin-bottom: 10%;
}

.about-us-section h2
 {
    width: 100%;
    color: darkgreen;
    margin-top: 5%;


}

.about-us-section p,li {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    letter-spacing: normal;
    font-size: 25px;
}

.about-us-section a {
    border-radius: 10px;
}

.about-us-section a:visited {
    color: rgb(229, 171, 95);
}

.about-us-section a:hover {
    color: white;
    text-decoration: none;
}




/*iframe section*/
iframe{
    width: 100%;
    height: 300px;
}

/*location*/


#location {
    display: flex;
    flex-direction: column;
    color: darkgreen;
}

#location h3 {
    font-size: 25px;
    color: darkgreen;
}


/*web social links*/

footer {
    width: 100%;
    background-color: rgb(168, 164, 164, 0.5);
}


footer h4 {
    font-size: 25px;
    color: darkgreen;
}


footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 25px;
    padding-bottom: 2%;
}

footer li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


footer a {
    color: orangered;
}

footer a:hover{
    cursor: pointer;
    transition: .5s;
    color: green;
}

/*photo section*/



.galley-images {
    width: 20%;
    height: auto;
    margin: 10%;
    color: darkgreen;
}

.gallery-images {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 45px;
    padding-bottom: 45px;
    font-size: 30px;
    color: darkgreen;
}


/*under-text-photo-section*/

#desc-photo {
    display: flex;
    background-color: rgb(229, 171, 95, 0.3);
    font-size: 25px;
    color: rgba(109, 157, 109, 0.9);
    padding: 25px 25px 25px;
}
  

  
   
  
/*form section*/

 #screen{
    width: auto;
    height: auto;
    align-items: center;
    background-image: url('../images/two-dumbbells-white-cloth-green-background_23-2147924574.jpg');
    background-size: cover;
    opacity: 0.8;
}
 
 

  .form{
    width: auto;
    height: auto;
    padding-top: 10%;
}

  .form h2{
    color: orangered;
    font-size: 35px;
  }
  

  .form-section{
    width: 40%;
    height: 40%;
    margin-right: 45%;
    padding: 15px;
    border: 1px solid white;
    color: white;
    background: rgba(62, 172, 66, 0.671);
}


label{
    font-size: 15px;
}


.input{
    width: 90%;
    display: block;
    background: transparent;
    margin: 1%;
    padding: 3px;
    border: 1px solid white;
    border-radius: 5px;
}
  

  input:hover{
    border-color: darkgreen;
  }

.button{
    border-radius: 5px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: orangered;
    border: 2px solid darkgreen;
    color: white;
    display: block;
}

.button:hover{
    background-color: white;
    color: darkgreen;
}

#feedback{
    width: 100%;
    height: auto;
    background: transparent;
    border: 2px solid white;
}