@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

main {
    flex: 1 0 auto;
}

header {
    display: flex;
    width: auto;
    height: auto;
    font-family: 'Lato', sans-serif;
    flex-direction: row;
    justify-content: center;
}

h1 {
    width: 60%;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(168, 164, 164, 0.5);
    color: green;
    font-size: 45px;
    padding-left: 22%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    height: auto;
    width: 100%;
    background-color: rgba(209, 200, 200, 0.4);
}

/*navigation links*/

nav {
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
    background-color: darkgreen;

}




nav ul {
    font-size: 23px;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: nowrap;
    color: darkgreen;
}


ul li {
    margin: auto;
    max-width: fit-content;

}


nav a {
    text-decoration: none;
    text-transform: inherit;
    color: whitesmoke;
    font-style: oblique;
}

nav a:hover {
    text-decoration: none;
    background-color: darkgreen;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
}

/*header image*/

.center-image-right img {
    border-radius: 50%;
    opacity: 0.7;
    height: auto;
    float: right;
    width: auto;

}

.about-us-section {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-content: stretch;
    align-items: center;
    margin-bottom: 10%;
}

.about-us-section h2,
p {
    color: darkgreen;
    margin-top: 15%;

}

.about-us-section p {
    text-align: center;
    line-height: 1.5;
    letter-spacing: normal;
    font-size: 20px;
}

.about-us-section a {
    border-radius: 10px;
}

.about-us-section a:visited {
    color: rgb(229, 171, 95);
}

.about-us-section a:hover {
    color: white;
    text-decoration: none;
}


/*location*/


#location {
    display: flex;
    flex-direction: column;
    color: darkgreen;
}

#location h3 {
    font-size: 25px;
    color: darkgreen;
}


/*photo section*/


img{
    width: auto;
    height: auto;
    
}
#about-us img{
    display: flex;
    flex-direction:row;
    width: 50%;
    height: auto;
    background-clip: content-box;
}

/*web social links*/

footer {
    width: 100;
    background-color: rgb(168, 164, 164, 0.5);
}


footer h4 {
    font-size: 25px;
    color: darkgreen;
}


footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 25px;
    padding-bottom: 2%;
}

footer li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


footer a {
    color: orangered;
}

footer a:hover{
    cursor: pointer;
    transition: .5s;
    color: green;
}

